<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
</head>
<body>
<div th:fragment="topo">
    <div class="row">
        <th:block th:each="topo : ${topos}">
            <div class="card border-dark m-1" style="width: 22rem;">
                <h3 class="card-header" th:utext="${topo.name}"></h3>
                <div class="card-body">
                    <p class="card-text">Description:</p>
                    <h5 class="card-text" th:utext="${topo.description}"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                    <li class="list-group-item">
                        <p>Site:</p>
                        <a th:href="@{/site-info/{id}(id=${topo.site.id})}"
                           th:utext="${topo.site.name}"></a>
                    </li>
                    <li class="list-group-item">
                        <p>Créateur de topo:</p>
                        <p th:utext="${topo.user.nome}"></p>
                    </li>
                </ul>
                <div class="card-body">
                    <div th:if="${!#authentication.name.equalsIgnoreCase(topo.user.email) and #authorization.expression('hasAnyAuthority(''MEMBRE'', ''USER'')')}">
                        <form method="post" th:action="@{/user/reservations}">
                            <input type="text" class="form-control"
                                   th:name="reservTopoId"
                                   th:value="${topo.id}" readonly hidden>
                            <button type="submit" class="btn btn-primary">Réserver</button>
                        </form>
                    </div>
                </div>
            </div>
        </th:block>
    </div>

</div>

</body>
</html>
