<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
>
<head>
</head>
<body>
<div th:fragment="topo-user">
    <div class="row">
        <th:block th:each="topo : ${topos}">
            <div class="card border-dark m-1" style="width: 22rem;">
                <h3 class="card-header" th:utext="${topo.name}"></h3>
                <div class="card-body">
                    <p class="card-text">Description:</p>
                    <h5 class="card-text" th:utext="${topo.description}"></h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                    <li class="list-group-item">
                        <p>Site:</p>
                        <a th:href="@{/site-info/{id}(id=${topo.site.id})}"
                           th:utext="${topo.site.name}"></a>
                    </li>
                    <li class="list-group-item">
                        <p>Créateur de topo:</p>
                        <p th:utext="${topo.user.nome}"></p>
                    </li>
                </ul>
                <div class="card-body">
                    <div class="row">
                        <form method="post" class="mb-2" th:action="@{/user/topos}">
                            <input type="text" class="form-control"
                                   th:name="topoIdSetPub"
                                   th:value="${topo.id}" readonly hidden>
                            <button th:if="${!topo.isReserved()}" type="submit" class="btn btn-primary"
                                    th:utext="${topo.isPublic()? 'Faire indisponible' : 'Faire disponible'}"></button>
                            <button th:if="${topo.isReserved()}" type="submit" class="btn btn-primary"
                                    th:text="'Topo réservé'" disabled></button>
                        </form>
                    </div>
                    <div class="row">
                        <form class="mr-2" method="get" th:action="@{/user/topos/modify}">
                            <input type="text" class="form-control"
                                   th:name="topoIdModif"
                                   th:value="${topo.id}" readonly hidden>
                            <button type="submit" class="btn btn-primary" th:utext="Modifier"></button>
                        </form>


                        <button type="button" class="btn btn-danger" data-toggle="modal"
                                data-target="#suprimer">Supprimer
                        </button>
                        <!-- Modal -->
                        <div class="modal fade" id="suprimer" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel2">Supprimer le topo</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Voulez-vous supprimer le topo?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Non
                                        </button>
                                        <form method="post" class="mr-2" th:action="@{/user/topos/delete}">
                                            <input type="text" class="form-control"
                                                   th:name="topoIdDel"
                                                   th:value="${topo.id}" readonly hidden>
                                            <button type="submit" class="btn btn-primary" th:utext="Oui"></button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </th:block>
</div>

</div>
</body>
</html>
